@import './constants';
@import './components/List/List-styles';
@import './Card/card';

.todo-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: hidden;


  * {
    color: $text-color;
    font-family: $font-family;

  }

}
